
/*#543005    #8c510a    #bf812d
#dfc27d    #f6e8c3    #f5f5f5
#c7eae5    #80cdc1    #35978f
#01665e    #003c30    */

.bg-1 {
  background-color: rgb(142, 69, 99);
}

.bg-2 {
  background-color: rgb(177, 94, 103);
}

.bg-3 {
  background-color: rgb(200, 138, 122);
}

.bg-4 {
  background-color: rgb(253, 174, 97);
}

.bg-5 {
  background-color: rgb(254, 224, 139);
}

.bg-6 {
  background-color: rgb(230, 245, 152);
}

.bg-7 {
  background-color: rgb(171, 221, 164);
}

.bg-8 {
  background-color: rgb(102, 194, 165);
}

.bg-9 {
  background-color: rgb(67, 140, 189);
}

.bg-10 {
  background-color: rgb(94, 79, 162);
}

.bg-blue-grey {
  background-color: #546E7A;
}

.bg-light-red {
  background-color: #FFCDD2;
}

.red {
  color: #FFCDD2;
}

body {
  margin: 0px;
}

.cover {
  background-color: rgba(158, 133, 133, 0.5);
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 300px;
  background: white;
  display: flex;
  align-self: center;
  flex-flow: column;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12), 0px 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.card-body {
  flex-grow: 1;
  margin-top: 12px;
  margin-left: 14px;
}

.card-header {
  padding-top: 14px;
  padding-left: 14px;
  font-size: 1.4em;
}

.card-footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.card-footer-button {
  padding: 12px;
  font-size: 1.2em;
  cursor: pointer;
}

img {
  width: 40%;
  display: block;
  margin: auto;
  height: auto;
  margin-bottom: 12px;
}

.card-text {
  margin-bottom: 10px;
}

.card-example {
  font-size: 0.9em;
  margin-bottom: 12px;
}

.color-selection-container {
  align-self: flex-end;
  margin-right: 10px;
  margin-top: 10px;
}

.h-list li {
  display: inline;
}

.color-item {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 100%;
  border: #bac7dd 2px solid;
  cursor: pointer;
}
